<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Skill</title>
</head>
<body>
    <h1>Add New Skill</h1>
    <form action="/skills" method = "POST">
        <input type = "text" name = "skill">
        <button type = "submit">Save Skill</button>
    </form>
</body>
</html>