body {
  padding: 50px;
  color: red;
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
  padding: 5px;
  
}

li{
  padding: 10px;
}